
#header {
           display: flex;
           align-items: center;
           justify-content: space-between;
           flex-wrap: wrap;
        }
        #main {
           display: flex;
           flex-wrap: wrap;
       }
.div-clear{clear: both;}
body{background-color: #EEE;font-family: emoji;}
#layout{background-color: #E4F9F5;
      max-width: 1000px;
      margin: 0px auto;
      padding: 20px;
     }
#photo img{float: left;
      height: 120px;width: 100px;
      border: 2px solid white; border-radius: 60px;
     }
#name{float: left;padding: 13px;}          
#name h2{margin-bottom: 0px;}
#name h3{margin-top: 2px;}
#mail {float: right;padding: 20px;}
#mail p {margin: 3px;}
#mail p a{color: blue;
         text-decoration: none;
         opacity: 0.9;
       }
#mail p a:hover{color: red;opacity: 1;cursor: pointer;font-size: 101%;}
hr{border: 2px solid black;width: 100%;margin: 2px ;}
.div-left{float: left;padding: 2px;color:rgb(10, 161, 161)}
.div-right{float: right;margin-top: 5px;margin-bottom: 5px;}
.div-right p{margin: 3px;}
.hr{border: 1px solid black;margin: 10px;}
.div-right1{width: 50%;float: right;margin-top: 0px;}
.h3{color:rgb(10, 161, 161)}
.h4{color:rgb(10, 161, 161);padding: 0px;margin: 1px;}
.div-right1 ul li{margin-left: -20px;}
.pre{margin: 1px;}
.div-right1 h4{margin-top: 30px;}
.footer{background-color: black; color: white;text-align: center;height: 120px;width: 100%;}
.footer p{display: inline-block; padding: 15px;}
.footer p a{color: white;text-decoration: none;}
.footer p a:hover{color: rgb(255, 1, 1);text-decoration: none;}
